
*{
	box-sizing: border-box;
}

body {
	display: grid;
    height: 100vh;
	width: 100vw;
	display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    background-image: url("https://i.imgur.com/OuHvRk6.jpg");
    background-size: cover;
}

.bear {
	grid-row: 1 / span 7;
	grid-column: 1 / span 8;
	display: grid;
	grid-template-rows: 65.75px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-auto-columns: 99.92px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

header {
	grid-row: 1 / span 2;
	grid-column: 1 / span 10;
	border-radius: 25px;
}

.top {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 24px;
	font-family: 'Open Sans', sans-serif;
}

.top h4 {
	color: white;
	font-size: 35px;
	padding-top: 4px;
	font-family: 'Abril Fatface', cursive;
	opacity: .9;
}

.blur1 {
	width: 865px;
	height: 55px;
	background-color: grey;
	opacity: .5;
	filter: blur(2px);
	border-radius: 10px;
	margin-top: -5px;
	margin-left: 10px;
	overflow: hidden;
	border: 3px solid white;
	position: relative;
	text-align: center;
}

#words-in-search {
	font-size: 18px;
	position: absolute;
	top: 6%;
 	left: 15%;
 	transform: translate(-50%, -50%);
 	color: white;
 	opacity: .6;
}

.nav {
	font-size: 16px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 450px;
	margin-top: 10px;
	opacity: .9;
}

.main {
	grid-row: 4 / span 7;
	grid-column: 2 / span 6;
	/*height: 460.14px;
	width: 574.45px;*/
	border-radius: 25px;
	margin: 5px;
	font-family: 'Abril Fatface', cursive;
	color: white;
}

.content1 {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.main-date {
	color: white;
	font-size: 20px;
	margin-left: 35px;
	margin-bottom: 10px;
	opacity: .6;
	font-family: 'Open Sans', sans-serif;
}

.main .content1 .words1 h1 {
	font-family: 'Times new roman';
	font-size: 75px;
	margin-left: 30px;
	opacity: .9;
}

.main .content1 .words2 p {
	font-family: 'Open Sans', sans-serif;
	font-size: 19px;
	margin-left: 35px;
}

.words2 {
	display: flex;
	flex-direction: column;
	justify-content:space-between;
	opacity: .9; 
}

#new-course {
	margin-bottom: 14px;
}

.both-buttons {
	display: flex;
	justify-content: space-around;
	font-family: 'Open Sans', sans-serif;
}

.button1 {
	background-color: white;
	width: 195px;
	height: 58px;
	position: relative;
  	text-align: center;
  	color: black;
  	border-radius: 50px;
  	opacity: .9;
}

.choose-date {
	position: absolute;
 	top: 50%;
 	left: 50%;
 	transform: translate(-50%, -50%);
 	font-size: 15px;
}

.button2 {
	/*background-color: grey;*/
	width: 300px;
	height: 58px;
	position: relative;
	text-align: center;
	color: white;
	border-radius: 50px;
	margin-right: 275px;
	/*opacity: .9;*/
	/*filter: blur(3px);
	overflow: hidden;
	border: 3px solid white;*/
	/*margin-bottom: 10px;*/
}

.blur2 {
	background-color: grey;
	width: 300px;
	height: 58px;
	/*position: relative;
	text-align: center;*/
	/*color: black;*/
	border-radius: 50px;
	opacity: .5;
	filter: blur(2px);
	overflow: hidden;
	border: 3px solid white;
	/*margin-bottom: 10px;*/
	margin-right: 275px;
}

.student {
	position: absolute;
 	top: 50%;
 	left: 50%;
 	transform: translate(-50%, -50%);
 	font-size: 15px;
}

a {
	text-decoration: none;
	color: white;
}

.blur3 {
	height: 90%;
	width: 70%;
	grid-row: 4 / span 4;
	grid-column: 8 / span 2;
	background-color: grey;
	opacity: .4;
	filter: blur(2px);
	border-radius: 25px;
	overflow: hidden;
	border: 3px solid white;
}

.cal1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	grid-row: 4 / span 4;
	grid-column: 8 / span 2;
	border-radius: 25px;
	margin: 5px;
	font-family: "times new roman", times, serif;
	color: white;
}

/*.cal1-words {
	margin: 5px;
	font-family: "times new roman", times, serif;
	color: white;
}*/

.blur4 {
	height: 90%;
	width: 70%;
	grid-row: 8 / span 4;
	grid-column: 8 / span 2;
	background-color: grey;
	opacity: .4;
	filter: blur(2px);
	border-radius: 25px;
	overflow: hidden;
	border: 3px solid white;
}

.cal2 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	grid-row: 8 / span 4;
	grid-column: 8 / span 2; 
	border-radius: 25px;
	margin: 5px;
	font-family: "times new roman", times, serif;
	color: white;
}

.cal1 h2 {
	font-size: 40px;
	margin-left: 38px;
}

.cal1 p { 
	margin-top: 20px;
	margin-left: 38px;
 }

 .cal1 .cal1-p1 p {
 	margin-top: 5px;
 }

.cal2 h2 {
	font-size: 40px;
	margin-left: 38px;
}

.cal2 p {
	margin-top: 20px;
	margin-left: 38px;
}

.cal2 .cal2-p2 p {
 	margin-top: 5px;
 }

@media only screen and (max-width: 1035px) {
  body .top .nav, #words-in-search {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  body, {
    width: 100vw;
  }
}

@media only screen and (max-width: 1163px) {
  .cal1, .cal2, .blur3, .blur4 {
    display: none;
  }
}

@media only screen and (max-width: 784px) {
  body {
    background-image: none;
    background-color: black;
  }
}

@media only screen and (max-width: 928px) {
  .main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 1282px) {
  .main, .content1, .both-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100vw;
    height: 100vh;
    margin-left: -20px;
  }
}

@media only screen and (max-width: 722px) {
 .main .content1 .words1 h1 {
 	font-size: 50px;
  }
}

@media only screen and (max-width: 722px) {
  .words2 {
   display: none;
  }
}

@media only screen and (max-width: 722px) {
  .both-buttons {
   margin-top: -150px;
  }
}

@media only screen and (max-width: 1282px) {
  .both-buttons {
   height: 20%;
   margin-left: 25px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
  }
}

@media only screen and (max-width: 1282px) {
  .main {
 	margin-top: -100px;
  }
}

@media only screen and (max-width: 722px) {
  .main-date {
   margin-bottom: 20px;
  }
}

@media only screen and (max-width: 527px) {
  .main {
   margin-left: -70px;
  }
}

@media only screen and (max-width: 334px) {
  .blur2, .student {
   display: none;
  }
}

@media only screen and (max-height: 564px) {
  .both-buttons {
   display: none;
  }
}

@media only screen and (max-height: 437px) {
  .main-date {
   display: none;
  }
}
/*<input type="text" placeholder="Search.." style="width: 600px; height: 60px">*/
/*html search link*/
